<p>
	<h2>Summary:</h2>
	
	number of cells: 4<br />
	minimum cell balancing rate: 1<br />
	maximum cell balancing rate: 2<br />
	average cell balancing rate: 1.5<br />
	balancing voltage threshold: 2<br />
	<br />
	<h2>Detail:</h2>
	<h3>cell group 1:</h3>
	cell string number: 1<br/>
	first cell number: 1<br />
	size of group: 8 <br />
	individual cell module balancing rate: 1.5 <br />
	
	<h3>cell group 2:</h3>
	cell string number: 1<br/>
	first cell number: 1<br />
	size of group: 8 <br />
	individual cell module balancing rate: 1.5 <br />
	
	<h3>cell group 3:</h3>
	cell string number: 1<br/>
	first cell number: 1<br />
	size of group: 8 <br />
	individual cell module balancing rate: 1.5 <br />
	
	<h3>cell group 4:</h3>
	cell string number: 1<br/>
	first cell number: 1<br />
	size of group: 8 <br />
	individual cell module balancing rate: 1.5 <br />
	
	

</p>