{% extends "layout.html" %}

{% block content %}
	<h1>Request BMS Data</h1>
	<script>
	const BMS_URL = "{{ url_for('bms.BMS_data_retrieval', date='<date>', parameter='<parameter>') }}";
	</script>
	<form action="#" id="BMS_form" onsubmit="return chartIt(BMS_URL)">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label for="startdate">Start Date</label>
					<input type="datetime-local" id="startdate">
					<small class="form-text text-muted">Start date must be before 10/12/2019</small>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label for="enddate">End Date</label>
					<input type="datetime-local" id="enddate">
					<small class="form-text text-muted">Start date must be before end date.</small>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<label for="interval">Interval (minutes)</label>
					<input type="text" id="interval">
					<small class="form-text text-muted">Interval must be a multiple of 10 minutes.</small>
				</div>
			</div>
			<div class="form-group">
				<label for="units">Units</label><br />
				<select name="units" id="units">
					<option value="bat_charge">Battery Charge</option>
					<option value="pv_voltage">PV voltage</option>
					<option value="pv_current">PV current</option>
					<option value="bat_voltage">Battery Voltage</option>
				</select>
			</div>	
			<div class="form-group">
				<label for="title">Title</label><br />
				<input type="text" name="title" id="title" value="Untitled Graph">
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label for="xaxistitle">X-axis title</label><br />
					<input type="text" name="xaxistitle" id="xaxistitle">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<label for="yaxistitle">Y-axis title</label><br />
					<input type="text" name="yaxistitle" id="yaxistitle">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
					<label for="font_family">Font Family</label><br />
					<select name="font_family" id="style">
						<option value="Courier New">Courier New</option>
						<option value="Serif">Serif</option>
						<option value="Sans Serif">Sans Serif</option>
					</select>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
					<label for="marker">Marker</label><br />
					<select name="marker" id="marker">
						<option value="fivethirtyeight">No Marker</option>
						<option value="classic">Star</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="tightlayout">Tight Layout</label>
					<input type="checkbox" name="tightlayout" id="tightlayout">
				</div>
				<div class="col">
					<label for="logarithmic">Y-axis Logarithmic Scale</label>
					<input type="checkbox" name="logarithmic" id="logarithmic">
				</div>
			</div>
			<input type="submit" value="Request Graph">
		</form>
		
	</form>
	<div id="chart"></div>
	<script src="{{ url_for('static', filename='BMS_graph_loader.js') }}"></script>
	
	<!-- we're keeping a local copy of plotly-latest for faster load speeds.-->
	<script src="{{ url_for('static', filename='plotly-latest.min.js') }}"> </script>
	<p>
		<a href = "{{ url_for('bms.BMS_Instantaneous') }}">See instantaneous values</a><br />
		<a href = "{{ url_for('bms.BMS_pins') }}">See pins currently attached</a>
	</p>
{% endblock %}


