{% extends "layout.html" %}
{% block content %}
	<h1 class="mb-3">Data from {{ sensor.name }} ({{ sensor.owner}})</h1>
	{% for data in dataset.items %}
		<article class="media content-section">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ data.author.username }}</a>
			  <small class="text-muted">{{ data.date_posted.strftime('%Y-%m-%d') }}</small> <!-- strf time is googleable -->
			</div>
			<p class="article-content">{{ data.JSON_content }}</p>
		  </div>
		</article>
	{% endfor %}
	
{% endblock %}