{% extends "layout.html" %}
{% block content %}
	<h1 class="mb-3">Data from {{ sensor.name }}, owned by {{ sensor.master.username}}</h1>
	{% for data in dataset %}
		<article class="media content-section">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="#">{{ data.author.master.username }}</a>
			  <small class="text-muted">{{ data.date_posted.strftime('%Y-%m-%d') }}</small> <!-- strf time is googleable -->
			</div>
			{% set json_dict = data.JSON_content %}
			<p class="article-content">
				<table class="table table-responsive-sm">
					<thead>
						<td class="col">Name</td>
						<td class="col">Value</td>
					</thead>
					<tr>
					{% for key in json_dict %} 
						<td>{{ key }}</td><td>{{ json_dict[key] }}</td>
					{% endfor %}
					</tr>
				</table>
			</p>
		  </div>
		</article>
	{% endfor %}
	
{% endblock %}