{% extends "layout.html" %}
{% block content %}
	<h1>Register a Sensor </h1>
	<form method="POST" action="">
		{{ form.csrf_token }}
			<div class="form-group">
			{{ form.sensor_name.label }}
			{{ form.sensor_name }}
			<small class="form-text text-muted">(What do you want to call your sensor)</small>
			</div>
			<div class="form-group">
			{{ form.units.label }}
			{{ form.units }}
			</div>
			<div class="form-group">
			{{ form.protocol.label }}
			{{ form.protocol }}
			<small class="form-text text-muted">(Optional)</small>
			</div>
			<div class="form-group">
			{{ form.type.label }}
			{{ form.type }} <br>
			<small class="form-text text-muted">(What type of sensor are you registering?)</small>
			</div>
			<div class="form-group">
			{{ form.submit }}
			</div>
		
	</form>
{% endblock %}