{% extends "layout.html" %}
{% block content %}
	<h1> Sensor Data Request Form </h1>
	<form method="POST" onsubmit="return ChartIt()">
		{{ form.csrf_token }}
		<legend class="border-bottom mb-4">Request Sensor data (graph)</legend>
			<div class="form-group">
			{{ form.sensors_owned.label }}
			{{ form.sensors_owned }}
			</div>
			<div class="form-group">
			{{ form.start_date.label }}
			{{ form.start_date }}
			</div>
			<div class="form-group">
			{{ form.end_date.label }}
			{{ form.end_date }}
			<small class="form-text text-muted">Start Date must be before end date.</small>
			</div>
			<div class="form-group">
			{{ form.interval.label }}
			{{ form.interval }}
			<small class="form-text text-muted">Interval must be a multiple of 10 minutes.</small>
			</div>
			{{ form.submit }}
	</form>
	<div id="display_data">
		{% if graph %}
			<img src = "{{ url_for('static', filename='graphs/' + graph) }} " />
		{% endif %}
	</div>
	Don't see your sensor listed? <a href="{{ url_for('sensor_nodes.register_sensor') }}">Register a sensor.</a>
	<br >
	Don't see anything at all? Please report this page to the webmaster.
	<a href="{{ url_for('sensor_nodes.user_login') }}">Here's the login form just in case.</a>

	<script>
		function ChartIt() {
			// sensor data
			var sensors_owned = document.getElementById("{{ form.sensors_owned.id }}");
			var username = "{{ current_user.username }}"; //console.log("{{ current_user.username }}");

			// range data
			var start_date = document.getElementById("{{ form.start_date.id }}");
			var end_date = document.getElementById("{{ form.end_date.id}}");
			var interval = document.getElementById("{{ form.interval.id}}");
			alert("HELLO WORLD");
			console.log(start_date.value);
			console.log(end_date);
			console.log(interval);
			return false;
		}
	</script>
	<div id='chart'>
	
	</div>
{% endblock %}