{% extends "layout.html" %}
{% block content %}
	<h1> Sensor Data Request Form </h1>
	<form method="POST">
		{{ form.csrf_token }}
		<legend class="border-bottom mb-4">Request Sensor data (graph)</legend>
			<div class="form-group">
			{{ form.sensors_owned.label }}
			{{ form.sensors_owned }}
			</div>
			<div class="form-group">
			{{ form.start_date.label }}
			{{ form.start_date }}
			</div>
			<div class="form-group">
			{{ form.end_date.label }}
			{{ form.end_date }}
			</div>
			<div class="form-group">
			{{ form.interval.label }}
			{{ form.interval }}
			</div>
			{{ form.submit }}
	</form>
	<div id="display_data">
		{% if graph %}
			<img src = "{{ url_for('static', filename='graphs/' + graph) }} " />
		{% endif %}
	</div>
	Don't see your sensor listed? <a href="{{ url_for('sensor_nodes.register_sensor') }}">Register a sensor.</a>
	
	Don't see anything at all? <a href="{{ url_for('sensor_nodes.user_login') }}">Login</a>
{% endblock %}